@using TrangChuWebsite.Models;
@functions{
    DataContext db = new DataContext();
    public List<Category> GetCategories()
    {
        List<Category> listRecord = db.Categories.Where(tbl => tbl.parent_id == 0).ToList();
        return listRecord;
    }
}
<style scoped>
    .main-menu {
        margin: 0px;
        padding: 0px;
        background-color: #83bb3e;
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    .menu-content {
        margin: 0px auto;
        padding: 0px;
        width: 1200px;
        display: flex;
    }

    .menu-left {
        margin: 0px;
        padding: 0px;
        line-height: 45px;
        width: 70%;
    }

        .menu-left ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            line-height: 45px;
            position: relative;
        }

            .menu-left ul li {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                text-align: center;
                padding: 0px 15px;
            }

                .menu-left ul li a {
                    text-decoration: none;
                    color: #FFF;
                }

                .menu-left ul li:hover {
                    background-color: #058134;
                }

    .menu-content ul li ul {
        margin: 0px;
        padding: 0px;
        width: 1200px;
        background-color: #fef79c;
        line-height: 50px;
        position: absolute;
        top: 45px;
        left: 0px;
        border-radius: 0px 0px 10px 10px;
        list-style: disc !important;
        border: 1px solid #ff5722;
        border-top: 0px;
        display: none;
    }

        .menu-content ul li ul li {
            margin: 0px;
            padding: 0px;
            line-height: 50px;
            padding: 0px 20px;
            display: inline-block;
        }

            .menu-content ul li ul li:hover {
                background-color: #fef79c;
            }

                .menu-content ul li ul li:hover a {
                    color: #5c3d21;
                }

            .menu-content ul li ul li a {
                color: #000;
                text-decoration: none;
            }

    .menu-left ul li:hover ul {
        display: block;
    }

    .search {
        padding: 0px;
        margin: 0px;
        width: 30%;
        line-height: 45px;
        text-align: right;
    }

        .search input {
            border: 0px;
            height: 30px;
            margin: 0px;
            padding: 0px;
            width: 250px;
            margin-top: 2px;
        }

        .search button {
            padding: 0px;
            margin: 0px;
            height: 30px;
            width: 30px;
        }

        .search .search-bg {
            background-color: white;
            line-height: 34px;
            margin: 0px;
            padding: 0px;
            margin-top: 5px;
            width: 300px;
            padding: 0px 10px;
            border-radius: 30px;
        }

    .home-content {
        margin: 0px auto;
        padding: 0px;
        width: 1200px;
        margin-top: 10px;
    }

</style>
<div class="main-menu">
    <div class="menu-content">
        <div class="menu-left">
            <ul>
                <li><a href="/Home">Trang chủ</a></li>
                <li>
                    <a href="/Product/Index">Sản phẩm</a>
                    <ul>
                        @{
                            List<Category> list = GetCategories();
                        }
                        @foreach (Category item in list)
                        {
                            <li><a href="/Product/PhanLoaiSanPham/@item.id">@item.tensanpham</a></li>
                        }
                    </ul>
                </li>
                <li><a href="#">Nhà cung cấp</a></li>
                <li><a href="/News/listNews">Tin tức</a></li>
                @*<li><a href="#">Giới thiệu</a></li>*@
                <li><a href="/Home/Contact">Liên hệ</a></li>
            </ul>
        </div>
        <div class="search">
            <div class="search-bg" style="position: relative">
                <input type="text" name="search" id="key" placeholder="Tìm kiếm..." onkeyup="searchForm();" autocomplete="off">
                <i class="fas fa-search" style="color: black; cursor: pointer" onclick="Search();"></i>
                <div id="smart-search">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <style>
            #smart-search {
                position: absolute;
                width: 100%;
                background: white;
                margin: 0px auto;
                top: 40px;
                left: 0px;
                z-index: 1000;
                display: none;
            }

                #smart-search img {
                    width: 70px;
                }

                #smart-search ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                }

                    #smart-search ul li {
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 5px;
                        display: flex;
                        text-align: left;
                        padding: 10px 5px;
                    }
        </style>
    </div>
</div>
<script>
    function searchForm() {
        $(document).ready(function () {
            $(window).click(function () {
                $("#smart-search").attr("style", "display: none !important;");
            })
        })
        var _key = document.getElementById('key').value;

        if (_key != "") {
            document.getElementById("smart-search").setAttribute("style", "display: block;");
            //-----Ajax
            $.ajax({
                url: "/Product/AJaxSearch?key=" + _key,
                success: function (result) {
                    //alert(result);
                    //clear cac the li trong smart search
                    $("#smart-search ul").empty();
                    //them ket qua tim kiem
                    $("#smart-search ul").append(result);
                }
            });
            //------
        }
        else {
            document.getElementById("smart-search").setAttribute("style", "display: none;");
        }
    }
</script>
<script>
    function Search() {
        var _key = document.getElementById("key").value
        location.href = "/Product/Search?key=" + _key
    }
</script>